.list-component-container{
    background-color: #181c2c;
    min-height: 60vh;
    color: #fff;
    padding-bottom: 2rem;
    .title{
        font-size: 2rem;
        font-weight: 600;
        padding: 2rem;
    }
}