.modal-content{
    border-radius: 1rem;
}
.modal-body{
    background-image: url('../../assets/image/user-avatar-default/user-avatar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 70vh;
    border-radius: 1rem;
    
}
