.course-page-container{
    .course-page-background-header{
        background-image: url('../../assets/gif/course2.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        // height: 60vh;
        height: 50vh;
    }
}