.lesson-page-container {
    background: #0F2027;
    background: linear-gradient(135deg, #2C5364, #203A43, #0F2027);
    min-height: 100vh;
    .lesson-page-body{
        color:  #fff;
        .body-left{
            
            .video-name{
                font-size: 2rem;
                font-weight: 700;
                margin-top: 2vh;
            }
        }
        .body-right{
            // height: 100vh;
            // position: sticky;
        }
    }
}