.profile-user-container{
    background-image: url('../../assets/image/background/bg_universe.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    .profile-user-body{
        .body-left{
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .body-right{
            display: flex;
            align-items: center;
            justify-content: center;            
        }
    }
}