.home-page-container{
    .home-page-middle{
        background-image: url('../../assets/image/background/bg_home_2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // height: 100%;
        width: 100vw;
        // min-height: 100vh;

    }
}